.heading {
  padding: 2.3rem 1.85rem;
  font-size: 1.25rem;
}

.experience_container {
  display: grid;
  place-items: start;
  grid-template-columns: 10% 90%;
  padding: 1.4rem 1.25rem;
  gap: 3rem;
}

.experience_parent_container {
  border-style: solid;
  border-width: 0.06rem 0;
  border-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.experience_parent_container:nth-child(3) {
  border-top-width: 0;
}

.experience_parent_container::before {
  content: "";
  position: absolute;
  background-color: var(--popup-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
  transform: scaleY(0);
}

.experience_parent_container:hover::before,
.experience_parent_container:focus::before {
  transform: scaleY(1);
}

.experience_container:hover {
  color: var(--primary-color);
}

.experience_container h2 {
  font-size: 1rem;
}

.experience_container p {
  font-size: 0.75rem;
  width: 16.1875rem;
}

@media (min-width: 414px) and (max-width: 767px) {
  .heading {
    font-size: 1.5rem;
  }

  .experience_container h2 {
    font-size: 1.15rem;
  }

  .experience_container p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    padding: 2.3rem 3.125rem;
    font-size: 2rem;
  }

  .experience_container {
    padding: 1.4rem 3.125rem;
  }

  .experience_container h2 {
    font-size: 1.75rem;
  }

  .experience_container p {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading {
    padding: 3rem 4rem;
    font-size: 2rem;
  }

  .experience_container {
    padding: 1.5rem 4rem;
  }

  .experience_container h2 {
    font-size: 1.75rem;
  }

  .experience_container p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .heading {
    padding: 6rem 10rem 3rem 10rem;
    font-size: 2rem;
  }

  .experience_container {
    padding: 1.5rem 10rem;
  }

  .experience_container h2 {
    font-size: 1.75rem;
  }

  .experience_container p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1920px) {
  .heading_container,
  .experience_container {
    width: 1700px;
    margin: auto;
  }

  .experience_container {
    padding: 3rem 10rem;
  }

  .heading {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  .experience_container h2 {
    font-size: 2.25rem;
  }

  .experience_container p {
    font-size: 1.75rem;
  }
}
